<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>videoKey</key>
	<string>xRGGBDx8pair_ca7327f9ef06481aaa66cc37a05f95e03A2rlMV3eRwBs4rQ4fNNf88XFjq8pw1UwjOI5puw9vfoP2U8</string>
	<key>clientId</key>
	<string>cNrw4OimFobJuLoNZDikTPX2cVQJ57KQhdgCz2_Eeno</string>
</dict>
</plist>
