# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Build

on:
  push:
    branches: [ "develop" ]
  pull_request:

jobs:
  build:
    runs-on: macos-14
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Pod install
      run: pod install

    - name: Build
      run: |
        xcodebuild -sdk iphonesimulator \
        -workspace Instagram-like-trainee.xcworkspace \
        -scheme Instagram-like-trainee \
        -destination "platform=iOS Simulator" \
        build  CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
